<header>
  <nav
    class="navbar navbar-expand-lg navbar-light fixed-top shadow-none header-effect"
  >
    <div class="container">
      <a class="navbar-brand" href="/">
        <span class="span1">Fashion</span>
        <span class="span2">Connect</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <!-- enlaces de navegacin-->
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/designer/list">Designers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/design/allDesigns">Designs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>

        <form class="d-flex" action="/design/search" method="get">
          <input
            class="formnav form-control me-2"
            autocomplete="off"
            type="search"
            placeholder="Search designs"
            aria-label="Search"
            name="query"
          />
          <button class="btn btnsearch bg-dark text-white" type="submit">
            Search
          </button>
        </form>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarLoginDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarLoginDropdown"
            >
              <li>
                <a class="dropdown-item" href="/designer/loginForm">Login</a>
              </li>
              <li>
                <a class="dropdown-item" href="/designer/registerForm"
                  >Register</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
