<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <%- include('modules/links.ejs') %>
  </head>
  <body>
    <%- include('modules/navbar.ejs') %>

    <main>
      <section class="section-1 py-5">
        <div class="container-xxl py-5">
          <h1 class="mb-5">About Us</h1>
          <div class="row">
            <div class="col-12 col-md-6 col1 g-0">
              <img
                src="/images/cheerful-young-fashion-designer-linen-red-dress-smiles-sincerely-charming-woman-holds-pencils-draws-cloth-pattern-craft-paper-sheet.jpg"
                alt="Foto de una diseñadora trabajando"
              />
            </div>
            <div class="col-12 col-md-6 coltext p-5">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae ut aperiam possimus atque illo cupiditate ipsam
                voluptatem facere eius excepturi deserunt dicta, quae non minima
                ad, nulla eum debitis voluptatum! Totam voluptatibus voluptatum
                maiores similique optio sint! Explicabo, maxime ex!
              </p>
              <br />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Repellat, nobis sunt aut atque velit, molestiae suscipit
                eveniet, enim molestias non recusandae esse. Tempore ab, ad modi
                rem qui sapiente laboriosam. Asperiores ad delectus earum
                officiis eos quisquam cumque. Asperiores error, blanditiis atque
                aspernatur deserunt ad ducimus ea similique corrupti cum.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('modules/footer.ejs') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
