<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%- include('modules/links.ejs') %>
  </head>
  <body>
    <%- include('modules/navbar.ejs') %>
    <main>
      <section class="section-1   d-flex align-items-center align-content-center justify-content-center text-center">
        <div class="container-xxl">
          <div class="row">        
            <div class="col-12 col-sm-6 col-xl-6  d-flex align-items-center align-content-center justify-content-center text-center">
                  <span class="tit1">Connect.</span>
                  <span class="tit2">Create.</span>
                  <span class="tit3">Inspire.</span>
            </div>
            <div class="col-12 col-sm-6 col-xl-6"> 
            </div>
          </div>
        </div>
      </section>
      <!-- section 2 -->
       <section class="section-2">
       <!--  controls para permitir que el usuario pueda controlar la repr -->
        <video 
         src="/videos/video1.mp4"
         autoplay
         muted
         loop
         >
        </video>
       </section>
       <!-- section 3 -->
        <section class="section-3 align-items-center justify-content-center align-content-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center align-content-center">
                <span class="spansec3">ELLA MODELS</span>
                <span class="span2sec3">NEW YORK</span>
              </div>
              <div class="col-12 col-md-6">

              </div>
            </div>
          </div>
        </section>

    </main>

    <%- include('modules/footer.ejs') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
