body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/images/designForm.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 15px 15px 30px #bebebe;
  width: 290px; 
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus,
.btnADD:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px darkblue;
}

.btnADD {
  color: white;
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #0a4275;
  border-radius: 10px;
  font-weight: 800;
}

.btnADD:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}
