/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.nav-link:hover {
  transform: translateY(-3px);
}

.formnav {
  background-color: transparent;
  border-bottom: solid 1px white;
}

.formnav2 {
  border-bottom: solid 1px white;
  background-color: transparent;
}


/* color navbar despues de scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.header-effect {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease;
}

.span1 {
  color: #0a4275;
}

.span2 {
  color: chocolate;
}