/* body {
} */

.section-1 {
  background-image: url(/images/balancing-1868051.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.tit1,
.tit2,
.tit3 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.tit1 {
  color: chocolate;
}

.tit2 {
  color: #0a4275;
}

.tit3 {
  color: white;
}

.tit1 {
  transform: translateY(-55px);
}

.tit3 {
  transform: translateY(55px);
}

@media (max-width: 768px) {
  .tit1 {
    transform: translateY(-60px) translateX(140px);
  }

  .tit3 {
    transform: translateY(60px) translateX(-140px);
  }
}

.section-2 {
  video {
    display: block;
    width: 100%;
  }
}

.section-3 {
  height: 120vh;
  background-image: url(/images/young-japanese-woman.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 1rem;
}

.spansec3 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 0.5rem;
}

.span2sec3 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: block;
}

@media (max-width: 768px) {
  .spansec3 {
    font-size: 2.5rem;
  }
  .span2sec3 {
    font-size: 1.5rem;
  }
}
